<form ng-submit='addCar(newCar)'>
	<input type="text" ng-model='newCar.make' placeholder='Make'>
	<input type="text" ng-model='newCar.model' placeholder='Model'>
	<input type="text" ng-model='newCar.mileage' placeholder='Mileage'>
	<input type="text" ng-model='newCar.year' placeholder='Year'>
	<input type="text" ng-model='newCar.price' placeholder='Price'>
	<button type="submit"></button>
</form>
<ul>
	<li ui-sref='car({id: car.$id})' ng-request='car in cars'>
		Make: {{car.make}}
		Model: {{car.model}}
		Mileage: {{car.mileage}}
		Year: {{car.year}}
		Price: {{car.price}}
	</li>
</ul>